.main {
  background-color: $color-bg;
}
.work {
  transform: translateY(-170px);
  overflow: hidden;
  &__title {
    margin: 0 0 0 137px;
    font-size: 10.4vw;
    font-family: "Rubik", sans-serif;
    color: rgba(249, 252, 254, 0.1);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    display: block;
    line-height: 0.8;
  }
  &__wrap {
    display: flex;
    max-width: 1920px;
  }
  &__box {
    display: flex;
    width: 400px;
    flex-direction: column;
    .work__item {
      height: 280px;
      width: 100%;
      &:first-child {
        &::after {
          background: url("../images/key.jpg") center no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
        }
      }
      &:last-child {
        &::after {
          background: url("../images/erp.jpg") center no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
        }
      }
    }
  }
  &__item {
    height: 560px;
    position: relative;
    text-decoration: none;
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &--kz {
      width: 1066px;
      &::after {
        background: url("../images/new-smile.jpg") center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
    &--fb {
      width: 400px;
      &::after {
        background: url("../images/flyboots.jpg") center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
    &:hover {
      .work__desc {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba($color-blue, 0.8);
        border-color: rgba($color-blue, 0.8);
        border-radius: 0;
        .plus {
          width: 47px;
          height: 47px;
        }
        span {
          opacity: 1;
          visibility: visible;
          left: 0;
          transition-delay: .6s;
          transition: .4s ease .5s;
        }
      }
    }
  }
  &__desc {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    border: 2px solid $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: $color-white;
    transition: .6s ease;
    overflow: hidden;
    span {
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      bottom: 45px;
      left: -100%;
      width: 100%;
      text-align: center;
      //transition: opacity .6s ease, visibility .6s ease;
      transition-delay: 0s;
      font-family: "OpenSans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      text-transform: uppercase;
      transition: 0 ease;
    }
  }
}

.skills {
  padding-top: 20px;
  &__title {
    color: $color-white;
    font-family: "Rubik", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 26.59px;
    text-transform: uppercase;
    letter-spacing: 2.57px;
    text-align: center;
    margin: 0;
  }
  &__desc {
    color: #abbcc8;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
  }
  &__slider {
    display: flex;
    width: 70%;
    max-width: 1250px;
    margin: 70px auto 0;
  }
  &__item {
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      height: 160px;
      width: 100%;
      fill: $color-blue;
    }
  }
}