footer.footer
    .footer__content
        .copy
            | © Copyright 2019
            br
            | Frontend developer Антон Прокопьев
        ul.social
            li.social__item
                a(href="https://vk.com/npokon" target="_blank").social__link
                    +svg("vk").vk
            li.social__item
                a(href="https://www.instagram.com/prokopyev_anton/" target="_blank").social__link
                    +svg("instagram").instagram
            li.social__item
                a(href="https://ok.ru/npokon" target="_blank").social__link
                    +svg("odnoklassniki").odnoklassniki
            li.social__item
                a(href="#").social__link
                    +svg("skype").skype
            li.social__item
                a(href="#").social__link
                    +svg("telegram").telegram
            li.social__item
                a(href="#").social__link
                    +svg("viber").viber
        .footer__contacts
            a(href="tel:+79086691969").footer__phone
                +svg("phone").phone
                span
                    | +7 (908) 669-19-69
            a(href="mailto:inpokon@gmail.com").footer__email
                +svg("gmail").gmail
                span
                    | inpokon@gmail.com