header.header
    .contacts
        .contacts__wrap
            +svg('phone').svg-phone
            .contacts__box
                a(href="tel:+79086691969").contacts__phone
                    | +7 (908) 669-19-69
                a(href="mailto:inpokon@gmail.com").contacts__mail
                    | inpokon@gmail.com
    .header__box
        h1.header__title
            | Сайт
            br
            | портфолио
        p.header__desc
            | Примеры выполненных работ
