main.main
    .work
        h2.work__title
            | Мои работы
        .work__wrap
            a(href="http://wd38.ru/projects/site-new-smile/" target="_blank").work__item.work__item--kz
                span.work__desc
                    +svg("plus").plus
                    span
                        | Совместная разработка сайта
                        br
                        | Клиника стоматологии и косметологии Жемчужная
            a(href="https://flyboots.ru/" target="_blank").work__item.work__item--fb
                span.work__desc
                    +svg("plus").plus
                    span
                        | Салоны обуви Flyboots
            .work__box
                a(href="https://xn--90aharfglvcf9e0b3bi.xn--p1ai/" target="_blank").work__item
                    span.work__desc
                        +svg("plus").plus
                        span
                            | Свой дом в лесу
                            br
                            | в коттеджном посёлке “Серебряный ключ”
                a(href="http://erp-newsmile.wd38.ru/" target="_blank").work__item
                    span.work__desc
                        +svg("plus").plus
                        span
                            | Совместная разработка ERP
                            br
                            | приложения для стоматологии