main.main
    .work
        h2.work__title
            | Мои работы
        .work__wrap
            a(href="https://newsmile.clinic/" target="_blank").work__item.work__item--kz
                span.work__desc
                    +svg("plus").plus
                    span
                        | Совместная разработка сайта
                        br
                        | Клиника стоматологии и косметологии Жемчужная
            a(href="https://flyboots.ru/" target="_blank").work__item.work__item--fb
                span.work__desc
                    +svg("plus").plus
                    span
                        | Салоны обуви Flyboots
            .work__box
                a(href="https://xn--90aharfglvcf9e0b3bi.xn--p1ai/" target="_blank").work__item
                    span.work__desc
                        +svg("plus").plus
                        span
                            | Свой дом в лесу
                            br
                            | в коттеджном посёлке
                            br
                            | “Серебряный ключ”
                a(href="http://erp-newsmile.wd38.ru/" target="_blank").work__item
                    span.work__desc
                        +svg("plus").plus
                        span
                            | Совместная разработка ERP
                            br
                            | приложения для стоматологии
    .skills
        h2.skills__title
            | Мои навыки
        p.skills__desc
            | С какими инструментами разработки я хорошо справляюсь
        .skills__slider
            .skills__item
                +svg("react").react
            .skills__item
                +svg("webpack").webpack
            .skills__item
                +svg("gulp").gulp
            .skills__item
                +svg("1c_bitrix").bitrix
            .skills__item
                +svg("boostrap").boostrap
            .skills__item
                +svg("html5").html5
            .skills__item
                +svg("jquery").jquery
            .skills__item
                +svg("sass").sass
            .skills__item
                +svg("wordpress").wordpress
            .skills__item
                +svg("js").js
            .skills__item
                +svg("git").git
